.sc-cNKqjZ>div:nth-child(1)>div>div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.MuiListItem-gutters {
  animation-name: fadeRightToLeft;
  animation-duration: 2s;
}

@keyframes fadeRightToLeft {
  from {
    opacity: 0;
    transform: translateX(150px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}