/* コード生成ブラウザ */
/* https://manten-do.net/contents/dsk01 */

/* 選択したユーザ以外の画像を非表示にする */
/* li.voice-state:not([data-reactid*="DiscordユーザID"]) { display:none; } */

/* アイコンを立ち絵画像に差し替える */
/* .avatar {
  content:url("画像URL");
  height:auto !important;
} */

/* アイコンを立ち絵画像に差し替える */
.avatar {
  height: auto !important;
  width: 100% !important;
  border-radius:0 !important;
  filter: brightness(50%);
}

/* 発話状態の設定 */
.speaking {
  border-color:rgba(0,0,0,0) !important;
  filter: brightness(100%) ;
}


/* ネームタグ表示位置調整 */
li.voice-state{
  position: static;
  text-align: center;
}
div.user{ 
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10px;
  margin: auto;
}
.user .name {
  font-size: 20px !important;
}

/* 色々消すヤツ */
body { background-color: rgba(0, 0, 0, 0); overflow: hidden; }