/* 左からスライド、タブが見える */

.MuiList-root>div:nth-child(1)>div>div>div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.MuiListItem-root {
  animation-name: fadeLeftToRight;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  10% {
    opacity: 1;
    transform: translateX(0px);
  }
  90% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-150px);
  }
}