/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* キャラ、パネルなど */
.sc-gFGZVQ>:nth-child(n),
/* チャット */
.MuiDrawer-root,
/* 吹き出し */
.sc-cjbZfG,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
header>.MuiToolbar-gutters,
/* 監視モード */
.MuiSnackbar-root,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}