/* 盤面 */

/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* 背景 */
.sc-fctJkW,
/* 音量、鉛筆ボタン、拡大縮小、吹き出し、ステータス */
.sc-gFGZVQ>:not(.MuiPaper-root):nth-child(n),
/* チャット */
.MuiDrawer-root,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
header>.MuiToolbar-gutters,
/* 監視モード */
.MuiSnackbar-root,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/* チャットスペース分調整 */
#root>div>:nth-child(3){
  width: 100%;
}