/* urlが「～/chat」の時使用 */

/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* カットイン */
.sc-gJwTLC,
/* 背景 */
.sc-ZOtfp,
/* 盤面 */
.sc-bGaVxB,
/* キャラ */
.sc-jfmDQi,
/* 吹き出し */
.sc-djUGQo,
/* 名前 */
.sc-caiLqq,
/* 入力欄 */
.sc-jdAMXn,
/*バージョン表記*/
.jss10,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
header>.MuiToolbar-gutters,
/* 音量 */
.sc-ikjQzJ,
/* 拡大縮小 */
.sc-hZgfyJ,
/* 鉛筆ボタン */
.sc-dSuTWQ,
/* 監視モード */
.MuiSnackbar-root,
/* スクロールバー */
::-webkit-scrollbar,
/* タブ以下 */
.MuiPaper-root > .sc-hUpaCq > .MuiPaper-root {
  display: none !important;
}

.MuiDrawer-root > .MuiDrawer-paper {
  background-color: rgba(0,0,0,0) !important;
}

.MuiListItem-root {
  background-color: rgba(44, 44, 44, 0.87);
}