/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* 背景 */
#root>div>:nth-child(2),
/* キャラ、パネルなど */
#root>div>:nth-child(3)>:nth-child(-n+5),
/* カットイン */
.sc-cUEIKg,
/* チャット */
.MuiDrawer-root,
/* 吹き出し */
#root>div>:nth-child(3)>.MuiPaper-root,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
header>.MuiToolbar-gutters,
/* 監視モード */
.MuiSnackbar-root,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/* チャットスペース分調整 */
#root>div>:nth-child(3){
  width: 100%;
}

/**************************
　ステータス
**************************/
/* 上下の調整 */
.sc-ehMyHa>div>div {
  top: 0;
  padding: 1;
}

/* 全て非表示にする */
.sc-ehMyHa>div {
  display: none;
}

/* サイズ調整 */
.MuiTypography-body2 {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.sc-ehMyHa>div>div>div>div>div,
.sc-ehMyHa>div>div>div>div>div:nth-child(2)>div {
  height: 28px;
}

.sc-ehMyHa>div>div>div>:nth-child(n) {
  width: 155px;
}

/* 横並び（200の倍数） */
.sc-ehMyHa>div>div>div {
  max-width: 400px;
}

/* 特定のキャラだけ表示（1からスタート） */
/* .sc-ehMyHa>:nth-child(1) {
  display: flex;
} */
