/* アイコンなし */
.MuiPaper-root>img {
  display: none;
}

.MuiPaper-root>img[src=""] {
  display: none;
}

/* 吹き出し */
.MuiPaper-root{
  width: calc(100%-32px);
  right: 16px;
  left: 16px;
}

/* 吹き出し等 */
.MuiPaper-root{
  background-color: rgba(0,0,0,0);
}

/* 吹き出し影 */
.MuiPaper-elevation1{
  box-shadow: none;
}

/* ダイス位置 */
.MuiPaper-root>:nth-child(1) {
  bottom: 0;
}
