/* 左からスライド、タブが見える */

.MuiPaper-root {
  background-color: rgba(0,0,0,0) !important;
}

.MuiList-root>div:nth-child(1)>div>div>div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.MuiListItem-root {
  animation-name: fadeLeftToRight;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background-color: rgba(44, 44, 44, 0.87) !important;
}

hr {
  display: none;
}

@keyframes fadeLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  10% {
    opacity: 1;
    transform: translateX(0px);
  }
  90% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-150px);
  }
}