/**
 * トーク風デザイン
 * 
 * 【注意事項】
 * chat.cssと一緒に使用すること
 */

/* @import url("https://q-fig.github.io/ccfolia_css/ccfolia/chat.css"); */

hr {
  border-color: rgba(0, 0, 0, 0) !important;
}

.MuiPaper-root {
  background: none;
  --custom-avatar-border-col: white;
  --custom-bg-col: rgba(44, 44, 44, 0.87);
  --custom-when-txt-col: rgb(200, 200, 200);
}

.MuiListItemAvatar-root>div[class] {
  border-radius: 50%;
  border: 2px solid var(--custom-avatar-border-col);
}

.MuiListItemText-root {
  margin: 0;
  border-radius: 10px;
  padding: 8px 16px;
  background: var(--custom-bg-col);
  position: relative;
}

.MuiListItemText-root::after {
  content: "";
  display: flex;
  position: absolute;
  top: 16px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid var(--custom-bg-col);
}

.MuiListItemText-root h6 span {
  font-size: x-small;
  padding-top: inherit;
  color: var(--custom-when-txt-col) !important;
  mix-blend-mode: difference;
}

.MuiList-root>div>div>div {
  width: fit-content;
}