/**
 * トーク風デザイン
 * 
 * 【注意事項】
 * chat.cssと一緒に使用すること
 */

/* @import url("https://q-fig.github.io/ccfolia_css/ccfolia/chat.css"); */

hr {
  display: none;
}

.MuiPaper-root {
  background: none;
  --custom-avatar-border-col: white;
  --custom-bg-col: rgba(44, 44, 44, 0.87);
  --custom-bg-border-col: rgba(192, 192, 192, 0.8);
  --custom-when-txt-col: rgb(200, 200, 200);
}

.MuiListItemAvatar-root {
  margin-top: 0;
}

.MuiListItemAvatar-root>div {
  border-radius: 50%;
  border: 2px solid var(--custom-avatar-border-col);
}

.MuiListItem-root {
  padding: 0 16px;
}

.MuiListItemText-root h6 {
  font-size: small;
}

.MuiListItemText-root h6 span {
  font-size: x-small;
  padding-top: inherit;
  color: var(--custom-when-txt-col) !important;
  mix-blend-mode: difference !important;
}

.MuiListItemText-root {
  margin-top: 9px;
  border: 1px solid var(--custom-bg-border-col);
  border-radius: 0 20px 20px;
  padding: 8px 16px;
  background: var(--custom-bg-col);
  position: relative;
}