/* コード生成ブラウザ */
/* https://manten-do.net/contents/dsk01 */

/* obsでカスタムcssに書く内容 */
/* 
@import url("https://q-fig.github.io/ccfolia_css/css/discord_talkimg.css");
li.voice-state:not([data-reactid*="DiscordユーザID"]) { display:none; }
.avatar {
  content:url("画像URL");
}
 */


/* アイコンを立ち絵画像に差し替える */
img[class*="avatar"] {
  height: auto !important;
  width: 100% !important;
  border-radius:0 !important;
  filter: brightness(50%);
}

/* 発話状態の設定 */
img[class*="Speaking"] {
  border-color:rgba(0,0,0,0) !important;
  filter: brightness(100%) ;
}


/* ネームタグ表示位置調整 */
li[class*="State"] {
  position: static;
  text-align: center;
}
div[class*="user"] { 
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10px;
  margin: auto;
}
div[class*="user"] span[class*="name"] {
  font-size: 20px !important;
}

/* 色々消すヤツ */
body { background-color: rgba(0, 0, 0, 0); overflow: hidden; }